*,
*::after,
*::before{
    /* margin: .5%; */
    box-sizing: border-box;
    text-decoration: none;
    /* cursor: none; */
    scroll-behavior: smooth ;
}

:root{
    --primary-color:#000000;
    --secondary-color:#ffffff;
}

body{
    font-family: "Poppins", sans-serif;
}


.cursor{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background:var(--primary-color);
    position: fixed;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    z-index: 33;

}

.expand_click{
    animation: cursor .3s backwards;
    border: 1px solid var(--primary-color);
}

@keyframes cursor{
    0%{
        background: var(--secondary-color);
    }
    50%{
        background: var(--primary-color);
    }
    100%{
        background: var(--secondary-color);
    }
}

.cursor_hover{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
}

.cursor_hover_inactive{
    background: none;
    z-index: 35 ;
}


nav{
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

nav .left-cont{
    display: flex;
    align-items: center;
}

nav .right-cont{
    display: flex;
    align-items: center;
}

#menu_ham{
    display: none;
    transition: transform 0.1s;
}

#check{
    display: none;
}

nav .left-cont .img_cont{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    overflow: hidden;
}

nav .left-cont .img_cont img{
    height: 4rem;
    width: 3rem;
    margin-left: 3px;
}

nav .left-cont p{
    font-size: 1.18rem;
    font-weight:600;
    margin-left: 1rem;
    z-index: 99;
    transition: transform 0.1s;
}

nav .right-cont div{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 700ms ease;
}

nav .right-cont div a{
    width: 6.8rem;
    height: 2.6rem;
    background: var(--primary-color);
    border-radius: 23px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 700ms ease;
    font-size: 1.18rem;
    color: var(--secondary-color);
    font-weight:600;
}

nav .right-cont div a:nth-child(2){
    animation: drop_in 1.5s ease-in-out;
}

nav .right-cont div a:nth-child(3){
    animation: drop_in 2s ease-in-out;
}

nav .right-cont div a:nth-child(4){
    animation: drop_in 2.5s ease-in-out;
}

nav .right-cont div a:nth-child(5){
    animation: drop_in 3s ease-in-out;
}

@keyframes drop_in{
    from{
        transform: translateY(-150px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}


nav .right-cont .nav_ul .active{
    background: none;
    color: var(--primary-color);
    animation: new 1.2s ease-in-out;
}

@keyframes new{
    0%{
        transform: scale(1.1);
    }
    5%{
        transform: scale(1.2);
    }
    10%{
        transform: scale(1.3);
    }
    15%{
        transform: scale(1.4);
    }
    20%{
        transform: scale(1.5);
    }
    25%{
        transform: scale(1.4);
    }
    30%{
        transform: scale(1.3);
    }
    35%{
        transform: scale(1.2);
    }
    40%{
        transform: scale(1.1);
    }
    45%{
        transform: scale(1);
    }
}

.nav_mob{
    display: flex;
    flex-direction: column-reverse;
    margin: 2rem;   
}


/* Main */

main{
    display: flex;
    margin-top: 8%;
}

main .left_cont{
    flex-grow: .2;
    display: flex;
    flex-direction: column;
    align-items: center;

}

main .left_cont .l1 p{
    font-size: 96px;
    animation: bounce 6s ease-in-out;
}
main .left_cont .l2 p{
    font-size: 40px;
    letter-spacing: 2rem;
    animation: slide_l2 2s forwards;
}


@keyframes slide_l2{
    from{
        transform: translateX(-3000px);
    }
    to{
        transform: translateX(0px);
    }
}


main .left_cont .l3 p{
    font-size: 44px;
    padding: 2px 30px;
}

main .left_cont .l4 p{
    font-size: 36px;
    animation: slide_l4 2s forwards;
}

@keyframes slide_l4{
    from{
        transform: translateX(3000px);
    }
    to{
        transform: translateX(0px);
    }
}

main .left_cont .l5{
    font-size: 32px;
    letter-spacing: 1rem;
    padding: 3px 30px;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    margin: 15px 0;
    font-weight: 600;
}

main .left_cont .l3,.l5{
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    margin: 15px 0;
    animation: loop_text 10s forwards;
}

@keyframes loop_text{
    from{
        color: var(--secondary-color);
        background: var(--primary-color);
    }
    to{
        color: var(--primary-color);
        background: var(--secondary-colorr);
    }
}

main .left_cont div p{
    margin: 0;
    font-weight: 600;
}

main .left_cont div{
    text-align: center;
}

main .right_cont{
    margin-top: 6%;
    margin-left: 14%;
}

@keyframes bounce{
    0%{
        transform: translate3d(0,-200px,0);
    }
    5%{
        transform: translate3d(0,0,0);
    }
    10%{
        transform: translate3d(0,-150px,0);
    }
    15%{
        transform: translate3d(0,0,0);
    }
    20%{
        transform: translate3d(0,-110px,0);
    }
    25%{
        transform: translate3d(0,0,0);
    }
    30%{
        transform: translate3d(0,-70px,0);
    }
    35%{
        transform: translate3d(0,0,0);
    }
    40%{
        transform: translate3d(0,-40px,0);
    }
    45%{
        transform: translate3d(0,0,0);
    }
    50%{
        transform: translate3d(0,-25px,0);
    }
    55%{
        transform: translate3d(0,0,0);
    }
    60%{
        transform: translate3d(0,-20px,0);
    }
    65%{
        transform: translate3d(0,0,0);
    }
    70%{
        transform: translate3d(0,-15px,0);
    }
    75%{
        transform: translate3d(0,0,0);
    }
    80%{
        transform: translate3d(0,-10px,0);
    }
    85%{
        transform: translate3d(0,0,0);
    }
    90%{
        transform: translate3d(0,-5,0);
    }
    95%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}


.box { 
	width: 16rem; 
	height: 16rem; 
	position: relative; 
	transform-style: preserve-3d; 
	animation: rotate 10s linear infinite; 
}

.box .b{
    height: 100%;
    width: 100%;
    /* background:var(--primary-color); */
    border: 1px solid #333333;
	position: absolute; 
	top: 0; 
	left: 0; 
	opacity: 0.9; 
}



.b-1 { 
	transform: translateZ(8rem); 
}

.b-2{
    transform: rotateY(90deg) translateX(8rem); 
	transform-origin: right; 
}
.b-3 { 
	transform: rotateY(180deg) translateZ(8rem); 
} 

.b-4 { 
	transform: rotateY(-90deg) translateX(-8rem); 
	transform-origin: left; 
} 

.b-5 { 
	transform: rotateX(-90deg) translateY(-8rem); 
	transform-origin: top; 
} 

.b-6 { 
	transform: rotateX(90deg) translateY(8rem); 
	transform-origin: bottom; 
} 

@keyframes rotate { 
	0%, 
	100% { 
		transform: rotate(0deg); 
	} 
	10% { 
		transform: rotateY(72deg) rotateZ(72deg); 
	} 
	20% { 
		transform: rotateY(144deg) rotateZ(144deg); 
	} 
	30% { 
		transform: rotateY(216deg) rotateZ(216deg); 
	} 
	40% { 
		transform: rotateY(288deg) rotateZ(288deg); 
	}
    50% { 
		transform: rotateY(360deg) rotateZ(360deg); 
	}
    60% { 
		transform: rotateY(288deg) rotateZ(288deg); 
	} 
    70% { 
		transform: rotateY(216deg) rotateZ(216deg);
	} 
    80%{
        transform: rotateY(144deg) rotateZ(144deg); 
    }
    90%{
        transform: rotateY(72deg) rotateZ(72deg); 
    }

}

/* .cursor_photo{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    background: none;
} */

/* ---------------ABOUT----------------------- */

.fake_ab{
    margin-bottom: 20rem;
}

.About_cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -13rem;
    margin-bottom: 8rem;
}

.ab-font h2{
    font-size: 70px;
    margin: 0;
    margin-left: 12rem;
    margin-bottom: -2.1rem;
}

.l-cont{
    margin-top: 4rem;
}



.c-1{
    width: 89px;
    height: 169px; 
    border-radius: 22px;
    background: var(--primary-color); 
    margin-right: -2rem;
    /* animation: back-1 4s linear; */
}

@keyframes back-1{
    from{
        margin-right: -10rem;
    }
    to{
        margin-right: -2rem;
    }
}

.c-2{
    width: 171px;
    height: 310px;
    background:var(--secondary-color);
    border-radius: 29px;
    box-shadow: -1px 1px 11.6px 5px var(--primary-color);
    margin-right: -6rem;
    /* animation: back 2s linear; */
}

@keyframes back{
    from{
        margin-right: -12rem;
    }
    to{
        margin-right: -6rem;
    }
}

.a-ani{
    animation: back 2s linear;
}

.a-ani1{
    animation: back-1 4s linear;
}

.c-3{
    width: 737px;
    height: 439px;
    background:var(--primary-color);
    border-radius: 24px;
    
}

.c-3 p{
    color: var(--secondary-color);
    text-align:justify;
    font-size: 1.3rem;
    margin: 2rem;
}


.cover_cont{
    display: flex;
    align-items: center;
}


/* ---------------------------PROJECTS---------------------------- */

#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-title{
    font-size: 2rem;
}

#projects .p-cont{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-top: 3rem;
    margin-bottom: 10rem;
    align-items: center;
}

.p-more{
    margin-top: 3rem;
}

.p-more a h2{
    color: var(--primary-color);
}

.p-more a h2:hover{
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 4px;
    border-radius: 12px;
    transition: .2s ease;
}

.p-cont .cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--primary-color);
    padding: 2rem;
    border-radius: 10%;
}

.p-cont-in{
    display: flex;
}
.p-cont-in .cont{
    margin: 2rem;
    position: relative;
}

.p-cont .cont a{
    text-decoration: none;
    color: black;
}

.p-cont .cont .pic{
    width: 4rem;
    height: 4rem;
    border-radius: 20%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.p-c1{
    animation:p-c1 2s linear;
}

@keyframes p-c1{
    from{
    transform: translateX(-20rem);
    }
    to{
        transform: translateX(0);
    }
}

.p-c2{
    animation: p-c2 2s linear;
}

@keyframes p-c2{
    from{
    transform: translateX(20rem);
    }
    to{
        transform: translateX(0);
    }
}

.overlay-proj{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    overflow: hidden;
    border-radius: 10%;
    width: 100%;
    height: 0;
    transition: 0.3s ease;
    color: var(--secondary-color);
    text-align: center;
    display: flex;
    align-items: center;
}

.p-cont .cont:hover{
    .overlay-proj{
        height: 100%;
    }
}




@media screen and (max-width:1390px)  {
    main .left_cont .l1 p{
        font-size: 72px;
    }
    main .left_cont .l2 p{
        font-size: 35px;
    }
    main .left_cont .l3 p{
        font-size: 39px;
    }
    
    main .left_cont .l4 p{
        font-size: 31px;
    }

    main .left_cont .l5{
        font-size: 22px;
        letter-spacing: .7rem;
    }

    .box { 
        width: 10rem; 
        height: 10rem; 
    } 
    .b-1 { 
        transform: translateZ(5rem); 
    }
    
    .b-2{
        transform: rotateY(90deg) translateX(5rem); 
        transform-origin: right; 
    }
    .b-3 { 
        transform: rotateY(180deg) translateZ(5rem); 
    } 
    
    .b-4 { 
        transform: rotateY(-90deg) translateX(-5rem); 
        transform-origin: left; 
    } 
    
    .b-5 { 
        transform: rotateX(-90deg) translateY(-5rem); 
        transform-origin: top; 
    } 
    
    .b-6 { 
        transform: rotateX(90deg) translateY(5rem); 
        transform-origin: bottom; 
    } 

    main .left_cont{
        margin-left: 2rem;
    }
    
}


@media  screen and (max-width:1034px) {
    main{
        display: grid;
        margin-top: 8%;
    }

    main .right_cont{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 15%;
    }

    #menu_ham{
        display: grid;
        font-size: 2rem;
    }

    nav .right-cont{
        z-index: 99;
    }

    nav .right-cont .nav_ul{
        position: fixed;
        width: 100%;
        height: 80vh;
        background: var(--secondary-color);
        top: -130%;
        left: 0;
        display: grid;
        transition: all .5s;
    }

    #check:checked ~ .nav_ul{
        top: 120px;
    }

    main .left_cont .l1 p{
        font-size: 60px;
    }
    main .left_cont .l2 p{
        font-size: 30px;
    }
    main .left_cont .l3 p{
        font-size: 34px;
    }
    
    main .left_cont .l4 p{
        font-size: 26px;
    }

    main .left_cont .l5{
        font-size: 17px;
        letter-spacing: .7rem;
    }

}


@media  screen and (max-width:700px) {

    main{
        margin-top: 5rem;
    }

    main .left_cont{
        margin-left: -.2rem;
    }

    main .left_cont .l1 p{
        font-size: 40px;
    }
    main .left_cont .l2 p{
        font-size: 20px;
        letter-spacing: 1.1rem;
    }
    main .left_cont .l3 p{
        font-size: 22px;
    }
    
    main .left_cont .l4 p{
        font-size: 18px;
    }

    main .left_cont .l5{
        font-size: 10px;
        letter-spacing: .5rem;
    }

    .cursor{
        display: none;
    }
}
